[Match]
Name=eth0

[Network]
DHCP=ipv4
Address=10.0.0.8/24
Gateway=10.0.0.1

[DHCP]
#When CriticalConnection is applied to networkd, the IP address will not
# change after this service was reloaded. Just reboot the system.
CriticalConnection=true