[Unit]
Description=Updater Good-marking Service
After=boot-complete.target
Requires=boot-complete.target

[Service]
Type=oneshot
ExecStart=/bin/bash  /sbin/update-util.sh -mg

[Install]
WantedBy=multi-user.target