[Unit]
Description=Systemd Service to Initialize gpios needed by Communication Module.

[Service]
Type=simple
ExecStart=/bin/bash  /sbin/initgpio.sh

[Install]
WantedBy=multi-user.target
