# Copyright (C) 2006 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_LOAD_AND_JUMP=y
CONFIG_LOAD_SW=y
CONFIG_JUMP_TO_SW=y
CONFIG_SAMA5D2=y
CONFIG_CRYSTAL_12_000MHZ=y
# CONFIG_TWI is not set
# CONFIG_LOAD_HW_INFO is not set
CONFIG_BUS_SPEED_166MHZ=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_MT41K128M16_D2=y
CONFIG_DATAFLASH=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_CLK=132000000
CONFIG_QSPI=y
CONFIG_QSPI_BUS=0
CONFIG_QSPI_IOSET=3
CONFIG_QSPI_4B_OPCODES=y
CONFIG_LOAD_LINUX=y
CONFIG_LINUX_IMAGE=y
CONFIG_IMG_ADDRESS="0x00020000"
CONFIG_JUMP_ADDR="0x22000000"
CONFIG_OF_LIBFDT=y
CONFIG_OF_OFFSET="0x00010000"
CONFIG_OF_ADDRESS="0x21000000"
CONFIG_MACH_TYPE="9999"
# CONFIG_DISABLE_WATCHDOG is not set
# CONFIG_ENTER_NWD is not set
CONFIG_BOARD_QUIRK_SAMA5D2_ROADRUNNER_EVO=y
CONFIG_TWI0=y
CONFIG_TWI0_IOSET=4
CONFIG_TWI1=y
CONFIG_TWI1_IOSET=2
# CONFIG_ACT8865 is not set
# CONFIG_DISABLE_ACT8865_I2C is not set
# CONFIG_SUSPEND_ACT8945A_CHARGER is not set
# CONFIG_LOAD_EEPROM is not set
# CONFIG_LED_ON_BOARD is not set
